# Default ignored files
/../../Owner avatar amara-infinites-backend-web-dev-assignment /.idea/shelf/
/../../Owner avatar amara-infinites-backend-web-dev-assignment /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Owner avatar amara-infinites-backend-web-dev-assignment /.idea/httpRequests/
